
table,th,td {
    border-collapse: collapse;
}
th,td {
    width: 150px;
    padding: 5rem;
}
table {
    /* border-spacing: 5px; */
    /* border-collapse: separate;
    border-spacing: 10px 0; */
    width: 93%;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    margin-top: 90px;
    border-collapse: collapse;
}
table a:link{
    color: rgb(209, 202, 202);
    background-color: transparent;
    text-decoration: none;
}
table a:visited {
    color: rgb(209, 202, 202);
}
table a:hover{
        color: rgb(209, 202, 202)ack;
        background-color: transparent;
        text-decoration: none;
}
.padded img{
    padding-right: 2em;
}
.firstlink a:link{
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
    padding-left: 10px;
}
.firstlink a:visited {
    color:whitesmoke;
}
.firstlink a:hover {
    color: transparent;
    font-size: 12px;
    background-color: transparent;
    text-decoration: none;
}
.firstlink{
    color: whitesmoke;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 50px;
}